<!-- app.component.html -->

<app-hero></app-hero>

<section class="formations-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="../../../assets/devia_technology.png" class="card-img-top" alt="DEVIA TECHNOLOGY" style="object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Devia Technology</h5>
            <p class="card-text">Devia Technology est la filiale responsable de la conception, la réalisation et la commercialisation des dispositifs électroniques.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="../../../assets/devia_training.png" class="card-img-top" alt="DEVIA TRAINING" style="object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Devia Training</h5>
            <p class="card-text">A travers cette filiale, nous dispensons des compétences aux étudiants pour leur garantir plus ou moins une insertion professionnelle rapide.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">                           
          <img src="../../../assets/devia_startup.png" class="card-img-top" alt="DEVIA STARTUP" style="object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Devia startup</h5>
            <p class="card-text">Devia Startup est la filiale de Devia qui vise à la création de nouvelles Start-up à fort potentiel.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="../../../assets/devia_orientation.png" class="card-img-top" alt="DEVIA ORIENTATION" style="object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Devia orientation</h5>
            <p class="card-text">Au travers de cette filiale nous aidons les plus jeunes à trouver leur passion.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-formation-footer></app-formation-footer>