<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="display-3">DEVIA TECHNOLOGY</h3>
        <p class="lead">
          Devia Technology est la filiale responsable de la conception, la réalisation et la commercialisation des dispositifs électroniques
          à usage pluridisciplinaire notamment dans le cadre domestique ou même industriel. De la conception à la commercialisation, le produit passe
          par plusieurs phases et subit plusieurs tests de contrôle garantissant une fiabilité sans pareil.
        </p>
      </div>
    </div>
  </div>
</section>